
/* Color Theme - #DB4694  #DBCB51 #AE3BDB #4E1861  #28DB25 #4E30DB*/



body{

    background-color: #4E1861;
}

/* All styles for the Heading  */
#intro {
    background-color: #781877;
    text-align: center;
    text-shadow: 2px 2px 3px green;
    font-family: 'Gentium Book Plus', serif;
    font-style: Italic;
    font-weight: bold;
    font-size: 5rem;
    color: white;
    margin-bottom: 10px;
    padding-top:20px;
    padding-bottom:30px;

    
    

    ;

}
#line-break1{



border:none;
background-color: #4E30DB;
padding-bottom: 5px;
opacity: 0; 

}
#song-selection{

    text-align: center;
}
                /* buttons */





/*Start Button */
#special-vibes{
    font-family: 'Gentium Book Plus', serif;
    font-style: Regular;
    font-weight: 400;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px purple;
    background-color: #136114;
    margin-right:30px;
    margin-left:30px;
}
.btn-info{
    --bs-btn-color: white;
    --bs-btn-bg: black;
    --bs-btn-border-color: black;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color:white;
    --bs-btn-focus-shadow-rgb: 11,172,204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: black;
    --bs-btn-active-border-color: black;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: white;
    --bs-btn-disabled-border-color: black;

}
/* Reload Button */ 
#Reload{


font-family: 'Gentium Book Plus', serif;
font-style: Regular;
font-weight: 400;
font-size: 1.5rem;
text-shadow: 2px 2px 3px purple;
background-color: #136114;
margin-right:30px;
margin-left:30px;
}

/* Count Down Video */

#countdown-vid{

    visibility: hidden;
    width:50vw;
    height:100vh;
    object-fit: cover;
    z-index: auto;
    
}

/*  Top Arrow Groups */
#button-group{
z-index:3;
border-style: solid;
border-width: thick;
background-color: #28DB25;
border-top: #23809c;  
border-right:#23809c; 
border-bottom: #cabd05;
border-left: #23809c;
}

#up-Arrow{
    border-style: solid;
    border-width: thick;
    border-inline-color: #DBCB51;
    padding-left: 65px;
    padding-right: 65px;
    background-color:#DB4694
}
#right-Arrow{
    border-style: solid;
    border-width: thick;
    border-inline-color: #DBCB51;
    padding-left: 65px;
    padding-right: 65px;
    background-color:#DB4694
}

#down-Arrow{
    border-style: solid;
    border-width: thick;
    border-inline-color: #DBCB51;
    padding-left: 65px;
    padding-right: 65px;
    background-color:#DB4694

}
#left-Arrow{
    border-style: solid;
    border-width: thin;
    border-inline-color: #DBCB51;
    padding-left: 65px;
    padding-right: 65px;
    background-color:#DB4694

}







/* Game Rows */

  #arrow-column{
    border-inline-color: #4E30DB;
    border-top-color: #4E30DB;
    border-style: solid;
    border-width: thick;
    background-color:#DB4694;
  
  }

  #row-1{

    padding-bottom: 900px;
    background-color: #AE3BDB;
    border-inline-color: #28DB25;
    border-top-color: #28DB25;
    border-bottom-color:#28DB25;
    border-style: solid;
    border-width: thick;
    padding-left: 65px;
    padding-right: 65px;



  }
  #row-2{

    padding-bottom: 900px;
    background-color: rgb(155, 43, 207);
    border-inline-color: #28DB25;
    border-top-color: #28DB25;
    border-bottom-color:#28DB25;
    border-style: solid;
    border-width: thick;
    padding-left: 65px;
    padding-right: 65px;

}
  #row-3{

    padding-bottom: 900px;
    background-color: rgb(155, 43, 207);
    border-inline-color: #28DB25;
    border-top-color: #28DB25;
    border-bottom-color:#28DB25;
    border-style: solid;
    border-width: thick;
    padding-left: 65px;
    padding-right: 65px;

  }

  #row-4{

    padding-bottom: 900px;
    background-color: rgb(155, 43, 207);
    border-inline-color: #28DB25;
    border-top-color: #28DB25;
    border-bottom-color:#28DB25;
    border-style: solid;
    border-width: thick;
    padding-left: 65px;
    padding-right: 65px;

  }