
/* Color Theme - #0fc0fc  #7b1daf   #ff2fb9 #d4ff47 #183649 #FF7844  #A64942  #53354A #1B1F3A */



body{

    background-color: #1B1F3A;
    text-align: center;
}

/* All styles for the Heading  */
#intro {
    background-color:  #183649  ;
    text-align: center;
    text-shadow: 2px 2px 3px green;
    font-family: 'Gentium Book Plus', serif;
    font-style: Italic;
    font-weight: bold;
    font-size: 5rem;
    color: white;
    margin-bottom: 10px;
    padding-top:20px;
    padding-bottom:30px;

    
    

    ;

}
#line-break1{



border:none;
background-color: #4E30DB;
padding-bottom: 5px;
opacity: 0; 

}
#song-selection{

    text-align: center;
}
                /* buttons */





/*Start Button */
#special-vibes{
    font-family: 'Gentium Book Plus', serif;
    font-style: Regular;
    font-weight: 400;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px purple;
    background-color: #136114;
    margin-right:30px;
    margin-left:30px;
}
.btn-info{
    --bs-btn-color: white;
    --bs-btn-bg: black;
    --bs-btn-border-color: black;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color:white;
    --bs-btn-focus-shadow-rgb: 11,172,204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: black;
    --bs-btn-active-border-color: black;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: white;
    --bs-btn-disabled-border-color: black;

}
/* Reload Button */ 
#Reload{


font-family: 'Gentium Book Plus', serif;
font-style: Regular;
font-weight: 400;
font-size: 1.5rem;
text-shadow: 2px 2px 3px purple;
background-color: #136114;
margin-right:30px;
margin-left:30px;
}

/* Count Down Video */

#countdown-vid{

    visibility: hidden;
    width:50vw;
    height:100vh;
    object-fit: cover;
    z-index: auto;
    
}

/*  Top Arrow Groups */
#button-group{
z-index:3;
border-style: solid;
border-width: thick;
background-color: #FF7844;
border-inline-color: #7b1daf; 
border-top-color:#7b1daf;
border-bottom-color:#7b1daf; 
margin-top: 40px;
margin-bottom: 10px;
}

.pressed {
  background-color: #A64942 ;
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 1;
}

#up-Arrow{
    border-style: solid;
    border-width: thick;
    border-inline-color: #183649;
    padding-left: 65px;
    padding-right: 65px;
    background-color:#A64942  ;
}
#right-Arrow{
    border-style: solid;
    border-width: thick;
    border-inline-color: #183649;
    padding-left: 65px;
    padding-right: 65px;
    background-color:#A64942  ;
}

#down-Arrow{
    border-style: solid;
    border-width: thick;
    border-inline-color: #183649;
    padding-left: 65px;
    padding-right: 65px;
    background-color:#A64942 ;

}
#left-Arrow{
    border-style: solid;
    border-width: thick;
    border-inline-color: #183649;
    padding-left: 65px;
    padding-right: 65px;
    background-color:#A64942   ;

}







/* Game Rows */

  #arrow-column{
    border-inline-color: #d4ff47;
    border-style: solid;
    border-width: thick;
    background-color:#A64942;
    border-top-color: #d4ff47; 
    border-bottom-color: #d4ff47; 
  
  }

  #row-1{

    padding-bottom: 900px;
    background-color: #FF7844  ;
    border-inline-color: #1B1F3A ;
    border-top-color: #1B1F3A;
    border-bottom-color:#1B1F3A;
    border-style: solid;
    border-width: thick;
    padding-left: 65px;
    padding-right: 65px;



  }
  #row-2{

    padding-bottom: 900px;
    background-color: #FF7844 ;
    border-inline-color: #1B1F3A ;
    border-top-color: #1B1F3A;
    border-bottom-color:#1B1F3A;
    border-style: solid;
    border-width: thick;
    padding-left: 65px;
    padding-right: 65px;

}
  #row-3{

    padding-bottom: 900px;
    background-color: #FF7844   ;
    border-inline-color: #1B1F3A ;
    border-top-color: #1B1F3A;
    border-bottom-color:#1B1F3A;
    border-style: solid;
    border-width: thick;
    padding-left: 65px;
    padding-right: 65px;

  }

  #row-4{

    padding-bottom: 900px;
    background-color: #FF7844  ;
    border-inline-color: #1B1F3A ;
    border-top-color: #1B1F3A;
    border-bottom-color:#1B1F3A;
    border-style: solid;
    border-width: thick;
    padding-left: 65px;
    padding-right: 65px;

  }
  #topArrowMove{

    position:absolute;
    top: 360px;

  }
  #rightArrowMove{

    position: absolute;
    top: 365px;  /* 285 is the exact height of the top arrow*/
    align-content: center;
  }
  #downArrowMove{
    position:absolute;
    top:365px;
    align-content: center;
  }
  #leftArrowMove{

    position:absolute;
    top:365px;
    align-content: center;
  }